@import url("https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css");
@import url('https://fonts.googleapis.com/css2?family=Chivo');
@import url('https://fonts.googleapis.com/css2?family=Lato');

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
body {
  font-family: "Lato";
  /*color: #1f1f1f;*/
  color: #0f0f0f;
  font-size: 18px;
}

h1, h2, .h1, .h2{
  font-family: "Chivo";
  letter-spacing: 1px;
  line-height: 2.2rem; /* increases, so wrapping headers don't overlap */
  color: #0f0f0f;
  font-weight: 500;
  font-size: 20px;
}

h3, h4, h5, h6, .h3, .h4{
  font-family: "Chivo";
  letter-spacing: 0.6px;
  line-height: 1.8rem; /* increases, so wrapping headers don't overlap */
  color: #0f0f0f;
  font-weight: 500;
  font-size: 18px;
}

pre, code {
  font-family: "Fira Mono", Consolas, Inconsolata, monospace;
}
.figure {
   margin-top: 10px;
   margin-bottom: 10px;
}

.navbar-default {
    border-color: #eee;
}

.label-default{
    border-color: #ecdddd;
    background-color: #658e9d;
}
.navbar-default {
    border-color: #ecdddd;

}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{

    background-color: #3e577b;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {

    background-color: #3e577b;
}
.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    background-color: #3e577b;
}
.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
    background-color: #3e577b;
}
#tocnav ul ul {
    margin-left: 25px;
}
#tocnav ul ul {
  font-family: "Fira Mono";
  margin-left: 5px;
  font-size: 11px;
  line-height: 1.35rem;
}

#toc ul.nav li a{
  font-family: "Fira Mono";
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.65rem;
}
.dropdown-menu {
  box-shadow: 0 6px 12px rgba(5, 5, 5, 0.18);
  background-color: #3e577b;
}
#navbar ul ul{
  font-family: "Fira Mono";
  letter-spacing: 0.05px;
  line-height: 1.25rem;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}
.nav li a {
  font-family: "Fira Mono";
  letter-spacing: 0.05px;
  line-height: 1.55rem;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
}
.pkgdown {
  display: none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  
  background-color: #587193;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 8px #427FD4, 0 0 10px #39F8FF;
  }

  to {
    text-shadow: 0 0 10px #427FD4, 0 0 11px #39F8FF;
  }
}

@keyframes glow {
    to {
     text-shadow: 0 0 10px #427FD4, 0 0 11px #39F8FF;
    }
  }

.dropdown-header {
  font-family: "Chivo";
  letter-spacing: 0.1px;
  line-height: 1.3rem;
  color: #FDFDFD;
  font-weight: 700;
  font-size: 14px;
  animation: glow 2.5s ease-in-out infinite alternate;
}
.navbar-default .navbar-link {
    font-family: "Bungee";
    font-size: 16px;
    color: #FDFDFD;
    animation: glow 3s ease-in-out infinite alternate;
}

